<!DOCTYPE html>
<html>
<head>
  <title>First Key Creations</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script src="/audiojs/jquery.js"></script>
  <script src="/audiojs/audio.min.js"></script>
  <script>
      $(function() {
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });

        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
          if (unicode == 39) {
            var next = $('li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });
    </script>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="/">
          <img alt="First Key Creations" src="images/logo2.png">
        </a>
      </div>
    </header>
    <div class="contentWrap">
        <div class="content">
          <%= yield %>
        </div>
      <nav>
        <ul>
          <%= link_to_with_current_class "Home", home_path  %>
          <%= link_to_with_current_class "Gymnastics Music", music_path %>
          <%= link_to_with_current_class "Our Story", ourstory_path %>
          <%= link_to_with_current_class "Testimonials", testimonials_path %>
          <%= link_to_with_current_class "We Support", wesupport_path %>
        </ul>
      </nav>
      <div class="bannerImage"><img src="/images/listen_create_enjoy.png" alt="Listen Create Enjoy"></div>
    </div>
    <div class="socialMedia">
      <div class="socialFb icon">
        <a href="http://www.facebook.com/justin.rayna" target="_blank"><img src="/images/fb.png" width="62" height="54" alt="Fb"></a>
      </div>
      <div class="socialTwitter icon">
        <a href="https://twitter.com/1stKeyCreations" target="_blank"><img src="/images/twitter.png" width="62" height="54" alt="Twitter"></a>
      </div>
      <div class="socialYoutube icon">
        <a href="http://www.youtube.com/channel/UCw9Bb_hHeSWgaJRtSSv4Ryw?feature=mhee" target="blank"><img src="/images/you_tube.png" width="62" height="54" alt="You Tube"></a>
      </div>
      <div class="emailIcon icon">
        <a href="mailto:FirstKeyCreations@yahoo.com" target="_blank"><img src="/images/mail.png" width="62" height="54" alt="Email"></a>
      </div>
    </div>
  </div>
  <div class="disclaimer">© 2011 First Key Creations. All Rights Reserved</div>
</body>
</html>
